/* Enlève les marges pour l'ensemble de la page' */
body { 
	
    margin : 0; 
    padding : 0; 
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
	color : #FFFF00;
	background-image: url("../images/bg.jpg");
    background-attachment: fixed;
	background-color: black;
}

html { 
  
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

/* Entête fixe */
header { 
    background : #000000; 
    border : 2px solid #FFFF00; 
    height : 100px; 
    left : 0; 
    position : fixed; 
    width : 100%; 
    top : 0; 
	color : #FFFFFF;
}

#logo{ 
    width : 100%;
    text-align : left; 
}

/* CSS pour le menu de navigation */
nav {
    position : fixed;
    width : 100%;
    top : 50px; 
}

nav ul {
    display: inline;
    margin: 0;
    list-style: none;
}

nav ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
	color: #FFFFFF;
}

nav ul li:hover {
    background: #222;
    color: #ffff00; 
}

nav li.ici {
    background: #555;
    color: #ffff00;     
}

nav a {
    text-decoration : none;
    padding: 15px 0px;
    color : inherit;
}

/* CSS pour la partie principale. Padding top et bottom padding à 80px 
   pour prévenir le débordement sur les sections header et footer. */
main{
    clear : both;
    position : fixed;
    overflow: auto;
    top : 120px;
    left : 10%;
    bottom : 80px;
    margin : 0 auto; 
    width : 80%;   
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
	text-align : center;
    margin : 10px;
    padding : 10px;
    width : 250px;
    height : 90%;
    vertical-align: top;
	border: 0px solid black;
	
}

.flex-container p {
    text-align : justify;
}

.flex-container a {
    display : block;
    margin : 10px 0px;
    padding : 10px 0px;
    text-align : right;
}

main p.normal {
    text-align : justify;
}

main p.normal::first-letter {
    font-size: 500%;
}

main p.adresse {
    text-align : center;
}

th {
    margin : 10px;
    padding : 10px;
    width : 15%;
    background : #eee;
    box-shadow: 10px 10px 5px #888888;
}
table {
	 margin-left:auto; 
    margin-right:auto;
}
td {
    margin : 10px;
    padding : 10px;
    
}



/* Pied de page fixe */
footer { 
    background : #000000; 
    border : 2px solid #FFFF00; 
    bottom : 0; 
    height : 60px; 
    left : 0; 
    position : fixed; 
    width : 100%; 
    text-align : center;
	color : #FFFF00;
}

h1.a {
	position : center;
	font-size : 12px;
}

p.a {
	position : center;
	font-size : 10px;
	
}

address {
  display: block;
  font-style: normal;
}

img {
  max-width: 100%;
  max-height:100%;
}

a{color: yellow;}
a:visited {color: white;}



